
<ul class="nav nav-pills">
    <li class="nav-item"><a href="{{ url_for('taskings') }}" class="nav-link {% if index %}active{% endif %}">ALL</a></li>
    <li class="nav-item"><a href="{{ url_for('ble_taskings') }}" class="nav-link {% if index %}active{% endif %}">BLE</a></li>
    <li class="nav-item"><a href="{{ url_for('cav_taskings') }}" class="nav-link {% if index %}active{% endif %}">CAV</a></li>
    <li class="nav-item"><a href="{{ url_for('clr_taskings') }}" class="nav-link {% if index %}active{% endif %}">CLR</a></li>
    <li class="nav-item"><a href="{{ url_for('cod_taskings') }}" class="nav-link {% if index %}active{% endif %}">COD</a></li>
    <li class="nav-item"><a href="{{ url_for('egl_taskings') }}" class="nav-link {% if index %}active{% endif %}">EGL</a></li>
    <li class="nav-item"><a href="{{ url_for('fyl_taskings') }}" class="nav-link {% if index %}active{% endif %}">FYL</a></li>
    <li class="nav-item"><a href="{{ url_for('thl_taskings') }}" class="nav-link {% if index %}active{% endif %}">THL</a></li>
</ul>


